@import "tailwindcss";
@theme {
    --breakpoint-3xs: 300px;  /* очень маленькие телефоны */
    --breakpoint-2xs: 360px;  /* маленькие телефоны (xs) */
    --breakpoint-xs: 425px;   /* маленькие телефоны, маленький смартфон */
    --breakpoint-sm: 480px;   /* большие телефоны, маленькие фаблеты */
    --breakpoint-md: 640px;   /* планшеты вертикально */
    --breakpoint-lg: 768px;   /* планшеты горизонтально */
    --breakpoint-xl: 1024px;  /* маленькие ноутбуки */
    --breakpoint-2xl: 1280px; /* ноутбуки, средние десктопы */
    --breakpoint-3xl: 1440px; /* большие десктопы */
    --breakpoint-4xl: 1536px; /* очень большие мониторы */
  }
